<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDFvHhNB4gqK1orVAjio01TF4XSQStPozs</string>
	<key>GCM_SENDER_ID</key>
	<string>912084265308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.flutter.ultimate.grocery.vendors.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>groceryee-b0745</string>
	<key>STORAGE_BUCKET</key>
	<string>groceryee-b0745.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:912084265308:ios:fafdff53d1ea2d9fd07999</string>
</dict>
</plist>